@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-size: v.$size-main;
    font-family: v.$font-main;

    display: grid;
    place-content: center;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}